{% extends "benefit-template.njk" %}

{% set sectionId = 'crb' %}

{% block header %}
  {{__("crb.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>500 $ par semaine (avant impôt)</strong>") }}
  {{ benefitLi("<strong>300 $ par semaine (avant impôt) après le 18 juillet 2021 pour ceux qui présente une demande de prestations pour plus de 42 semaines et ceux qui font une demande la première fois</strong>") }}
  {{ benefitLi("<strong>Maximum de 42 semaines </strong> si vous respectez les critères d’admissibilité") }}
  {{ benefitLi("<strong>Prestation offerte à compter du 12 octobre, rétroactive au 27 septembre 2020</strong>") }}
{% endblock %}

{% block body %}
  <strong>Vous pourriez être admissible à la PCRE si vous :</strong>
  <ul>
    <li>n’êtes pas admissibles à l’assurance-emploi et, soit n’avez pas exercé d’emploi ni exécuté de travail à votre compte en raison de la COVID 19, ou soit vous travaillez, mais avez vu votre revenu diminuer d’au moins 50 % pour des raisons liées à la COVID 19;­­</li>
    <li>êtes disponible pour travailler et accepteriez un travail lorsqu’il est raisonnable de le faire;</li>
    <li>n’avez pas quitté votre emploi volontairement, sauf s’il était raisonnable de le faire.</li>
  </ul>

  <strong>Prochaines étapes :</strong>
  <ul>
    <li>Avant de faire votre demande, tous les critères d’admissibilité seront affichés et vous devrez déclarer que vous les remplissez tous. Le gouvernement a apporté des modifications aux critères d'admissibilité qui pourraient empêcher certaines personnes ayant voyagé à l'étranger de demander des prestations de la PCRE. Lisez attentivement les détails.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
      "crb",
      "https://canada.ca/fr/agence-revenu/services/prestations/prestation-relance-economique.html",
      "En savoir plus à propos de la PCRE"
  )}}
{% endblock %}
