{% extends "benefit-template.njk" %}

{% set sectionId = 'crb' %}

{% block header %}
  {{__("crb.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>$500 per week</strong>") }}
  {{ benefitLi("<strong>Up to 26 weeks</strong> if you keep meeting the eligibility criteria and are not eligible for any EI benefits") }}
  {{ benefitLi("<strong>Benefit available in October retroactive to September 27, 2020</strong>") }}
{% endblock %}

{% block body %}
  <strong>You may qualify for the CRB assistance if you:</strong>
  <ul>
    <li>have stopped working due to COVID-19 and are not eligible for Employment Insurance or are working and have had a reduction of at least 50% in your employment/self-employment income for reasons related to COVID-19</li>
    <li>are available and looking for work and must accept work where it is reasonable to do so</li>
    <li>had employment and/or self-employment income of at least $5,000 in 2019 or in 2020, or in the 12-month period prior to their first application for the CRB</li>
    <li>have not quit your job voluntarily, unless it was reasonable to do so</li>
    <li>have not rejected a reasonable job offer, rejected a request to resume work or failed to resume work if self-employed when reasonable to do so</li>
  </ul>
  <strong>Next steps:</strong>
  <ul>
    <li>The application will ask you to declare that you meet the eligibility criteria, so read the details carefully</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
      "crb",
      "https://canada.ca/en/revenue-agency/services/benefits/recovery-benefit.html",
      "Find more information about the CRB"
  )}}
{% endblock %}
