{% extends "benefit-template.njk" %}

{% set sectionId = 'crb' %}

{% block header %}
  {{__("crb.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>$500 per week (before taxes)</strong>") }}
  {{ benefitLi("<strong>$300 per week (before taxes) after July 18, 2021 for those applying for more than 42 weeks of benefit and all new applicants</strong>") }}
  {{ benefitLi("<strong>Up to 50 weeks</strong> if you meet the eligibility criteria") }}
  {{ benefitLi("<strong>Benefit available on October 12, retroactive to September 27, 2020</strong>") }}
{% endblock %}

{% block body %}
  <strong>You may qualify for the CRB assistance if you:</strong>
  <ul>
    <li>are not eligible for Employment Insurance and are not employed or self-employed due to COVID-19 or are working and have had a reduction of at least 50% in your income for reasons related to COVID-19</li>
    <li>are available and looking for work and must accept work where it is reasonable to do so</li>
    <li>have not quit your job voluntarily, unless it was reasonable to do so</li>
  </ul>
  <strong>Next steps:</strong>
  <ul>
    <li>Before you apply, all eligibility criteria will be displayed and you will have to declare that you meet them all. The government implemented changes to the eligibility criteria that may deny individuals who travelled internationally from claiming the CRB. Read the details carefully.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
      "crb",
      "https://canada.ca/en/revenue-agency/services/benefits/recovery-benefit.html",
      "Find more information about the CRB"
  )}}
{% endblock %}
