{% extends "benefit-template.njk" %}

{% set sectionId = 'crb' %}

{% block header %}
  {{__("crb.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>Pour les travailleurs qui ne sont pas admissibles à l’assurance-emploi et dont le revenu d’emploi ou de travail indépendant a diminué en raison de la COVID-19 ou qui n’ont pas quitté leur emploi volontairement.</strong>") }}
  {{ benefitLi("<strong>Un total de 400 $ par semaine, déductibles d’impôt.</strong>") }}
  {{ benefitLi("<strong>Pendant un maximum de 26 semaines,</strong> si la personne répond toujours aux critères d’admissibilité et ne reçoit pas de prestations d’assurance-emploi, de prestations du Régime québécois d’assurance parentale ou une autre prestation canadienne de la relance économique pour une même semaine.") }}
  {{ benefitLi("<strong>La prestation est offerte à partir d’octobre, rétroactivement au 27 septembre 2020.</strong>") }}
{% endblock %}

{% block body %}
  <strong>Prochaines étapes</strong>
  <ul>
    <li>Dans la demande, vous devrez déclarer que vous respectez les critères d’admissibilité; lisez attentivement tous les détails.</li>
    <li>Les demandeurs devront rembourser une partie ou l’ensemble de la prestation si leur revenu annuel net est de plus de 38 000 $ (en excluant la PCRE).</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
      "crb",
      "https://www.canada.ca",
      "En savoir plus"
  )}}
{% endblock %}
