{% extends "benefit-template.njk" %}

{% set sectionId = 'crcb' %}

{% block header %}
  {{__("crcb.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>$500 per week (before taxes)</strong>") }}
  {{ benefitLi("<strong>Up to 42 weeks per household</strong> if you meet the eligibility criteria and are not receiving any EI benefits or paid leave from your employer for the week for which you are claiming the CRCB") }}
  {{ benefitLi("<strong>Benefit available on October 5, retroactive to September 27, 2020</strong>") }}
{% endblock %}

{% block body %}
  <strong>You may qualify for the CRCB assistance if you:</strong>
  <ul>
    <li>are employed or self-employed at the time of the application</li>
    <li>have missed a minimum of 50% of your scheduled work because you are unable to work in order to provide care for a child under the age of 12 or a family member, because:</li>
     <ul>
        <li>their school, daycare, day program, or care facility is closed or unavailable due to COVID-19</li>
        <li>the person who usually cares for your child or family member is not available for reasons related to COVID-19</li>
        <li>they are sick and/or have been directed to quarantine for reasons related to COVID-19</li>
        <li>they are at high risk of serious health complications if they contracted COVID-19</li>
      </ul> 
  </ul>

  <strong>Next steps:</strong>
  <ul>
    <li>Before you apply, all eligibility criteria will be displayed and you will have to declare that you meet them all. The government implemented changes to the eligibility criteria that may deny individuals who travelled internationally from claiming the CRCB. Read the details carefully.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
      "crcb",
      "https://canada.ca/en/revenue-agency/services/benefits/recovery-caregiving-benefit.html",
      "Find more information about the CRCB"
  )}}
{% endblock %}
