{% extends "benefit-template.njk" %}

{% set sectionId = 'crsb' %}

{% block header %}
  {{__("crsb.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>Pour les travailleurs qui ne sont pas en mesure de travailler parce qu’ils sont malades ou qu’ils doivent s’isoler en raison de la COVID-19.</strong>") }}
  {{ benefitLi("<strong>Un total de 500 $ par semaine, déductibles d’impôt.</strong>") }}
  {{ benefitLi("<strong>Pendant un maximum de deux semaines,</strong> si la personne répond toujours aux critères d’admissibilité et ne reçoit pas de congés de maladie payés de son employeur, de prestations d’assurance-emploi, de prestations du Régime québécois d’assurance parentale ou une autre prestation canadienne de la relance économique pour une même semaine.") }}
  {{ benefitLi("<strong>La prestation est offerte à partir d’octobre, rétroactivement au 27 septembre 2020.</strong>") }}
{% endblock %}

{% block body %}
  <strong>Prochaines étapes</strong>
  <ul>
    <li>Dans la demande, vous devrez déclarer que vous respectez les critères d’admissibilité; lisez attentivement tous les détails.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
      "crsb",
      "https://www.canada.ca",
      "En savoir plus"
  )}}
{% endblock %}
