{% extends "benefit-template.njk" %}

{% set sectionId = 'crsb' %}

{% block header %}
  {{__("crsb.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>$500 per week (before taxes)</strong>") }}
  {{ benefitLi("<strong>Up to 4 weeks</strong> if you meet the eligibility criteria and are not in receipt of any EI benefits or paid leave from your employer for the same week") }}
  {{ benefitLi("<strong>Benefit available on October 5, retroactive to September 27, 2020</strong>") }}
{% endblock %}

{% block body %}
  <strong>You may qualify for the CRSB assistance if you:</strong>
  <ul>
    <li>are employed or self-employed at the time of the application</li>
    <li>have missed a minimum of 50% of your scheduled work because:</li>
    <li style="list-style: none;">
      <ul>
        <li>you are sick with or may have contracted COVID-19</li>
        <li>you have isolated yourself for reasons related to COVID-19</li>
        <li>you have underlying conditions that would make you more susceptible to COVID-19</li>
      </ul>
    </li>
  </ul>

  <strong>Next steps:</strong>
  <ul>
    <li>Before you apply, all eligibility criteria will be displayed and you will have to declare that you meet them all. The government implemented changes to the eligibility criteria that may deny individuals who travelled internationally from claiming the CRSB. Read the details carefully.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
      "crsb",
      "https://canada.ca/en/revenue-agency/services/benefits/recovery-sickness-benefit.html",
      "Find more information about the CRSB"
  )}}
{% endblock %}
