{% extends "benefit-template.njk" %}

{% set sectionId = 'crsb' %}

{% block header %}
  {{__("crsb.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>For workers who cannot work because they are sick or must self-isolate as a result of COVID-19</strong>") }}
  {{ benefitLi("<strong>$500 per week, taxes will be deducted</strong>") }}
  {{ benefitLi("<strong>Up to 2 weeks</strong> if you meet the eligibility criteria and are not and are not  in receipt of paid leave from your employer, EI benefits, QPIP benefits or other Canada Recovery Benefits for the same week") }}
  {{ benefitLi("<strong>Benefit available in October retroactive to September 27, 2020</strong>") }}
{% endblock %}

{% block body %}
  <strong>Next steps:</strong>
  <ul>
    <li>The application will ask you to declare that you meet the eligibility criteria, so read the details carefully.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
      "crsb",
      "https://www.canada.ca",
      "Find more information"
  )}}
{% endblock %}
