{% extends "benefit-template.njk" %}

{% set sectionId = 'crsb' %}

{% block header %}
  {{__("crsb.header")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>500 $ par semaine</strong>") }}
  {{ benefitLi("<strong>Maximum de deux semaines à la fois</strong> si vous respectez les critères d’admissibilité et ne recevez aucune prestation d’assurance‑emploi ou de congé payé de la part de votre employeur pour la même semaine.") }}
  {{ benefitLi("<strong>Prestation offerte à compter d’octobre, rétroactive au 27 septembre 2020</strong>") }}
{% endblock %}

{% block body %}
  <strong>Vous pourriez être admissible à la PCMRE si vous:</strong>
  <ul>
    <li>êtes salarié ou un travailleur indépendant au moment de soumettre la demande;</li>
    <li>avez un revenu d’emploi ou de travail indépendant d’au moins 5 000 $ en 2019 ou en 2020 ou dans les 12 mois précédant la date de votre demande de la PCMRE;</li>
    <li>avez manqué au moins 50 % de votre travail prévu au cours de la semaine pour laquelle vous demandez la prestation, parce que :</li>
    <ul>
      <li>vous êtes malade ou pourriez avoir contracté la COVID-19;</li>
      <li>vous êtes en isolement sur les conseils de votre employeur, d’un médecin, d’une infirmière praticienne, d’une personne en autorité, d’un gouvernement ou d’une autorité de santé publique pour des raisons liées à la COVID-19;</li>
      <li>vous avez des maladies sous-jacentes qui, de l’avis d’un professionnel de la santé, d’un infirmier praticien, d’une personne en situation d’autorité ou d’un représentant d’une autorité gouvernementale ou de la santé publique, vous rendraient plus vulnérable à la COVID-19.</li>
    </ul> 
  </ul>

  <strong>Prochaines étapes</strong>
  <ul>
    <li>Dans la demande, vous devrez déclarer que vous respectez les critères d’admissibilité; lisez attentivement tous les détails</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
      "crsb",
      "https://canada.ca/fr/agence-revenu/services/prestations/prestation-maladie-relance-economique.html",
      "En savoir plus à propos de la PCMRE"
  )}}
{% endblock %}
