

{% extends "benefit-template.njk" %}

{% set sectionId = 'dtc_oas' %}

{% block header %}
  {{__("dtc.title")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<ul>
    <li class='mb-2'><strong>Paiement unique de 300 $, non imposable si vous recevez la pension de la Sécurité de vieillesse.</strong></li>
    <li><strong>OU paiement unique de 100 $, non imposable si vous recevez le crédit d'impôt pour personnes handicapées et le supplément de revenu garanti.</strong> </li>
  </ul>") }}
  {{ benefitLi("<strong>Paiement automatique à partir d'août 2020.</strong>") }}
{% endblock %}

{% block body %}
  <strong>Bon à savoir :</strong>
  <ul>
    <li>Ce paiement peut aider si votre enfant détient un certificat valide pour le crédit d'impôt pour personnes handicapées.</li>
    <li>Les paiements seront déposés automatiquement dès que possible. Vous n’avez pas à faire quoi que ce soit pour le recevoir. <strong>En savoir plus à propos du crédit d'impôt pour personnes handicapées.</strong></li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "dtc_oas",
    "https://www.canada.ca/fr/services/prestations/covid-19-prestations-urgence/paiement-unique-personnes-handicapees.html",
    "En savoir plus à propos du crédit d'impôt pour personnes handicapées"
  )}}
{% endblock %}