{% extends "benefit-template.njk" %}

{% set sectionId = 'dtc_apply' %}

{% block header %}
  {{__("dtc.title")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>Persons with disabilities without a valid Disability Tax Credit (DTC) certificate may still be eligible for the one-time payment</strong>") }}
  {{ benefitLi("<strong>If you think you may be eligible but never applied for the DTC, or your certificate expired in 2019, you must do so by December 31, 2020</strong>") }}
  {{ benefitLi("<strong>If you are eligible, you could receive your payment starting October 30, 2020</strong>") }}
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "dtc_apply",
    "https://www.canada.ca/en/services/benefits/covid19-emergency-benefits/one-time-payment-persons-disabilities.html",
    "Learn more about the Disability Tax Credit"
  )}}
{% endblock %}