

{% extends "benefit-template.njk" %}

{% set sectionId = 'dtc_child' %}

{% block header %}
  {{__("dtc.title")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>Up to $600, one-time tax-free payment</strong>") }}
  {{ benefitLi("<strong>If you are eligible, you could receive your payment starting October 30, 2020</strong>") }}
{% endblock %}

{% block body %}
  <strong>Good to know:</strong>
  <ul>
    <li>You are eligible for this payment if you hold a valid certificate for the Disability Tax Credit for your child</li>
    <li>If you share custody for your child, this payment will be split $300 to each parent</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "dtc_child",
    "https://www.canada.ca/en/services/benefits/covid19-emergency-benefits/one-time-payment-persons-disabilities.html",
    "Learn more about the Disability Tax Credit"
  )}}
{% endblock %}