

{% extends "benefit-template.njk" %}

{% set sectionId = 'dtc_oas' %}

{% block header %}
  {{__("dtc.title")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<ul>
    <li class='mb-2'><strong>$300 one-time, tax-free payment if you received the one-time payment for the Old Age Security (OAS) pension</strong></li>
    <li><strong>OR</strong></li>
    <li><strong>$100 one-time tax-free payment if you received the $500 one-time seniors payment for both the OAS pension and the Guaranteed Income Supplement (GIS)</strong></li>
  </ul>") }}
  {{ benefitLi("<strong>If you are eligible, you could receive your payment starting October 30, 2020</strong>") }}
{% endblock %}

{% block body %}
  <strong>You could be eligible for this payment if you:</strong>
  <ul>
    <li>have applied for the Disability Tax Credit by December 31, 2020</li>
    <li>are a beneficiary as of July 1, 2020 of:
      <ul>
        <li>Canada Pension Plan Disability</li>
        <li>Quebec Pension Plan Disability Pension, or</li>
        <li>Disability supports provided by Veterans Affairs Canada</li>
      </ul>
    </li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "dtc_oas",
    "https://www.canada.ca/en/services/benefits/covid19-emergency-benefits/one-time-payment-persons-disabilities.html",
    "Learn more about the Disability Tax Credit"
  )}}
{% endblock %}