
{% extends "benefit-template.njk" %}

{% set sectionId = 'dtc_individual' %}

{% block header %}
  {{__("dtc.title")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>Paiement unique jusqu’à un maximum de 600 $, non imposable</strong>") }}
  {{ benefitLi("<strong>Si vous êtes admissible, vous pourriez recevoir votre paiement à partir du 30 octobre 2020</strong>") }}
{% endblock %}

{% block body %}
  <strong>Vous pourriez être admissible au paiement si vous :</strong>
  <ul>
    <li>détenez un certificat valide pour le crédit d'impôt pour personnes handicapées (CIPH);</li>
    <li>avez fait une demande pour le CIPH au plus tard le 31 décembre 2020;</li>
    <li>êtes bénéficiaire en date du 1er juillet 2020 :
      <ul>
        <li>de la prestation d’invalidité du Régime de pensions du Canada;</li>
        <li>de la rente d'invalidité du Régime de rentes du Québec, ou</li>
        <li>de l’une des mesures de soutien pour invalidité offertes par Anciens Combattants Canada.</li>
      </ul>
    </li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "dtc",
    "https://www.canada.ca/fr/services/prestations/covid-19-prestations-urgence/paiement-unique-personnes-handicapees.html",
    "En savoir plus à propos du crédit d'impôt pour personnes handicapées"
  )}}
{% endblock %}
