

{% extends "benefit-template.njk" %}

{% set sectionId = 'dtc_child' %}

{% block header %}
  {{__("dtc.title")}}
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>Paiement unique jusqu’à un maximum de 600 $, non imposable</strong>") }}
  {{ benefitLi("<strong>Si vous êtes admissible, vous pourriez recevoir votre paiement à partir du 30 octobre 2020</strong>") }}
{% endblock %}

{% block body %}
  <strong>Bon à savoir :</strong>
  <ul>
    <li>Vous êtes admissible pour ce paiement si vous détenez un certificat valide pour le crédit d'impôt pour personnes handicapées pour votre enfant</li>
    <li>Si vous partagez la garde de votre enfant, le paiement sera divisé en deux. Chaque parent recevra 300 $</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "dtc_child",
    "https://www.canada.ca/fr/services/prestations/covid-19-prestations-urgence/paiement-unique-personnes-handicapees.html",
    "En savoir plus à propos du crédit d'impôt pour personnes handicapées"
  )}}
{% endblock %}