{% extends "benefit-template.njk" %}

{% set sectionId = 'student_loan' %}

{% block header %}
  {{__("student_loan.header")}}
{% endblock %}

{% block preamble %}
  You could be eligible for the <b>Repayment Assistance Plan (RAP)</b> or the <b>Repayment Assistance for Borrowers with a Permanent Disability (RAP-PD)</b>
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>Reduced monthly payment, or no monthly payment</strong>") }}
  {{ benefitLi("<strong>Reduced payment amount to help with expenses related to your disability</strong>") }}
{% endblock %}

{% block body %}
  <strong>You may qualify for repayment assistance if:</strong>
  <ul>
    <li>you reside in Canada (or are on an international internship or are a reservist deployed abroad)</li>
    <li>at least six months have passed since you graduated or left school (your loans are in repayment)</li>
    <li>you are up-to-date on your loan payments.</li>
  </ul>
  <strong>If you have a permanent disability, you may qualify for RAP-PD if:</strong>
  <ul>
    <li>your permanent disability has been assessed and recognized by the Canada Student Loans Program; and</li>
    <li>You are eligible for the Repayment Assistance Plan.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "student_loan",
    "https://www.canada.ca/en/services/benefits/education/student-aid/grants-loans/repay/assistance/rap.html",
    "Learn more about help with student loan payments"
  )}}
{% endblock %}
