{% extends "benefit-template.njk" %}

{% set sectionId = 'student_loan' %}

{% block header %}
  {{__("student_loan.header")}}
{% endblock %}

{% block preamble %}
  Vous pourriez être admissible au <b>Programme d’aide au remboursement (PAR)</b> ou au <b>Programme d’aide au remboursement pour les emprunteurs ayant une invalidité permanente (PAR-IP)</b>
{% endblock %}

{% block featured_list_items %}
  {{ benefitLi("<strong>Paiement mensuel réduit ou à un paiement mensuel nul</strong>") }}
  {{ benefitLi("<strong>Montant réduit pour couvrir les dépenses liées à votre invalidité</strong>") }}
{% endblock %}

{% block body %}
  <strong>Vous pourriez être admissible au Programme d’aide au remboursement si :</strong>
  <ul>
    <li>Vous résidez au Canada (ou faites un stage international ou êtes un réserviste en mission à l’étranger);</li>
    <li>Vous avez obtenu votre diplôme ou quitté l’école depuis au moins six mois (et vous remboursez vos prêts);</li>
    <li>Vos prêts sont à jour.</li>
  </ul>
  <strong>Vous pourriez être admissible au Programme d’aide au remboursement pour les emprunteurs ayant une invalidité permanente si :</strong>
  <ul>
    <li>Vous avez une invalidité permanente qui a été évaluée et reconnue par le Programme canadien de prêts aux étudiants;</li>
    <li>Vous êtes admissible au Programme d’aide au remboursement.</li>
  </ul>
{% endblock %}

{% block info_link %}
  {{ infoLink(
    "student_loan",
    "https://www.canada.ca/fr/services/prestations/education/aide-etudiants/bourses-prets/rembourser/aide-remboursement/par.html",
    "En savoir plus à propos de l’aide disponible pour votre dette d’étude"
  )}}
{% endblock %}
